body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-family: cursive;
}
.container {
  width: 300px;
  display: flex;
  flex-direction: column;
gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

#text-input {
  margin-bottom: 1rem;
  padding: 8px;
  margin-right: 0.5rem;
  
}
#check-btn {
  padding: 8px;
}

#result {
  min-height: 200px;
}
