* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #1a1b33;
  color: #f5f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
main h1 {
  text-align: center;
}
.container {
  max-width: 500px;
  background-color: #3b3b4f;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.container input {
  width: 100%;

  background-color: #0b0b23;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
}

label[for="number"] {
  font-weight: 900;
  font-size: 24px;
}
#convert-btn {
  background-color: rgb(255, 189, 65);
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 24px;

}
#output {
  max-width: 500px;
  background-color: #3b3b4f;
  border: 4px solid white;
  padding-block: 1rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  display: none;
}

#output.show {
  display: block;
}

#output.error {
  display: block;
  background-color: #feacad;
  color: #850000;
  border: 4px solid;
}
